@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  overflow: hidden;
  user-select: none;

  --font-big-title: 'Alfa Slab One', Helvetica;

  --background-absolute: #fff;
  --foreground-absolute: #000;

  --text-color: #fff;

  /* --primary-color: #d5311d;
  --secondary-color: #3d1b39;
  --tertiary-color: #e69524; */
  --primary-color: oklch(0.648 0.2 131.684);
  --secondary-color: #3d1b39;
  --tertiary-color: #e69524;

  --gray-color: #18181b;
  --gray-translucent: color-mix(in oklch, var(--gray-color) 40%, transparent);
  --box-shadow-color: rgba(255, 255, 255, 0.6);

  --gray-background-light: color-mix(
    in oklch,
    var(--gray-color) 93%,
    var(--background-absolute)
  );
  --gray-background-light-2: color-mix(
    in oklch,
    var(--gray-color) 90%,
    var(--background-absolute)
  );
  --gray-background-light-3: color-mix(
    in oklch,
    var(--gray-color) 86%,
    var(--background-absolute)
  );
  --gray-background: var(--gray-color);

  --gray-muted: color-mix(
    in oklch,
    var(--foreground-absolute) 35%,
    var(--background-absolute)
  );
  --gray-muted-light: color-mix(
    in oklch,
    var(--foreground-absolute) 15%,
    var(--background-absolute)
  );
  --gray-muted-dark: color-mix(
    in oklch,
    var(--foreground-absolute) 50%,
    var(--background-absolute)
  );
  --gray-muted-dark-2: color-mix(
    in oklch,
    var(--foreground-absolute) 60%,
    var(--background-absolute)
  );

  --background-absolute-translucent: color-mix(
    in oklch,
    var(--background-absolute) 80%,
    transparent
  );
  --background-absolute-translucent-2: color-mix(
    in oklch,
    var(--background-absolute) 90%,
    transparent
  );
  --background-absolute-translucent-light: color-mix(
    in oklch,
    var(--background-absolute) 40%,
    transparent
  );

  --foreground-absolute-translucent: color-mix(
    in oklch,
    var(--foreground-absolute) 80%,
    transparent
  );
  --foreground-absolute-translucent-2: color-mix(
    in oklch,
    var(--foreground-absolute) 90%,
    transparent
  );

  --primary-color-light: color-mix(
    in oklch,
    var(--primary-color) 90%,
    var(--background-absolute)
  );
  --primary-color-dark: color-mix(
    in oklch,
    var(--primary-color) 90%,
    var(--foreground-absolute)
  );

  --tertiary-color-light: color-mix(
    in oklch,
    var(--tertiary-color) 90%,
    var(--background-absolute)
  );
  --tertiary-color-dark: color-mix(
    in oklch,
    var(--tertiary-color) 80%,
    var(--foreground-absolute)
  );

  --primary-color-translucent: color-mix(
    in oklch,
    var(--primary-color) 80%,
    transparent
  );
  --primary-color-translucent-2: color-mix(
    in oklch,
    var(--primary-color) 90%,
    transparent
  );
  --secondary-color-translucent: color-mix(
    in oklch,
    var(--secondary-color) 80%,
    transparent
  );
  --secondary-color-translucent-2: color-mix(
    in oklch,
    var(--secondary-color) 90%,
    transparent
  );
  --tertiary-color-translucent: color-mix(
    in oklch,
    var(--tertiary-color) 80%,
    transparent
  );
  --tertiary-color-translucent-2: color-mix(
    in oklch,
    var(--tertiary-color) 90%,
    transparent
  );
  --gray-background-translucent: color-mix(
    in oklch,
    var(--gray-background) 80%,
    transparent
  );
  --gray-background-translucent-2: color-mix(
    in oklch,
    var(--gray-background) 90%,
    transparent
  );
  --gray-background-translucent-light: color-mix(
    in oklch,
    var(--gray-background) 25%,
    transparent
  );

  background: linear-gradient(
    var(--foreground-absolute) -7%,
    var(--primary-color)
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.toaster-success {
  color: #22c55e !important;
}
.toaster-error {
  color: var(--color-destructive) !important;
}
.toaster-warning {
  background: #facc15 !important;
  color: #000 !important;
}
.toaster-info {
  background: #3b82f6 !important;
  color: #fff !important;
}
